<h1> MY RECOMMENDATIONS (Recommendations that I, the User, have made) </h1>
  <% for recommendation in @recommendations %>
  I HAVE RECOMMENDED <%= recommendation.firstMatch_id %> TO <%= recommendation.secondMatch_id %>
  </br>
<% end %>
