<h1> MY RECOMMENDATIONS (Recommendations that I, the User, have made) </h1>
  <% for recommendation in @recommendations %>
  I HAVE RECOMMENDED <%= recommendation.first_match_id %> TO <%= recommendation.second_match_id %>
  </br>
<% end %>
