<h1> User List </h1>


<% for user in @users %>
    <p>
      <strong><%= user.email %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <%= link_to "Recommend", recommendations_path(:recommended_id => user), :method => :post %>
    </p>

<% end %>
