<h1> WELCOME TO TICKLETUSH </h1>
<h2> We aren't a fancy algorithm. We're your best dating resource: your friends! <h2>



  <div id="user_nav">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!

        <% else %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </div>

    


  <!-- <%= button_tag ("GET TO TICKLIN'") %> -->
