<h1> WELCOME TO TICKLETUSH </h1>
<h3> We aren't a fancy algorithm. We're your best dating resource: your friends!</h3><h2>

<small><p> Get started by playing matchmaker and spread the love! </p></small>






  <!-- <%= button_tag ("GET TO TICKLIN'") %> -->
